body, html {
    height: 100%;
    margin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.countdown {
    font-size: 55px;
}
